body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand-logo {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

h1,
.brand-logo {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
}

nav {
  height: 70px;
}

.brand-logo {
  display: inline-block;
  height: 100%;
}

.brand-logo > img {
  vertical-align: middle;
  height: 90%;
}

.main {
  padding: 20px 20px 20px 270px;
}

@media only screen and (max-width: 992px) {
  .main {
    padding-left: 20px;
  }
}

.sidenav li a i.material-icons {
  padding-left: 32px;
  margin-right: 14.5px;
}

.sidenav li a,
.sidenav .collapsible-body li a {
  color: white;
  padding: 0px;
}

.sidenav li {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  align-items: center;
}

ul.sidenav-fixed {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 250px;
}

.sidenav .collapsible .collapsible-header {
  padding-left: 32px;
  width: 230px;
}

.sidenav .collapsible .collapsible-body {
  padding-left: 32px;
  width: 230px;
  background-color: inherit;
}

.collapsible .collapsible-body .collection-item {
  background-color: inherit;
  margin: 0px;
  border: 0px;
}

.home::after {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, black 100%),
    url("./img/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
