.home {
  background: url("../../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

nav {
  background: url("../../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.transparent {
  background: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
}

.transparent .input-field > label {
  color: black;
}

.transparent .input-field input:focus + label {
  color: black;
  padding-left: 5px;
}

.transparent input[type="text"],
.transparent input[type="password"],
.transparent input[type="text"]:focus,
.transparent input[type="password"]:focus {
  background-color: white;
  padding-left: 5px;
}

.transparent .input-field input:focus {
  box-shadow: 0 1px 0 0 black !important;
  padding-left: 5px;
}

.transparent .input-field label {
  padding-left: 5px;
}

.transparent .input-field {
  margin: 10px;
}
